---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.masthead {
  border-bottom: none;
  box-shadow: none;  // 혹시 테마에서 그림자도 있으면 같이 제거
}