---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.masthead {
  border-bottom: none;
  box-shadow: none;  // 혹시 테마에서 그림자도 있으면 같이 제거
  background-color: #ffffff !important;
}

.greedy-nav {
  background-color: #ffffff !important;
}

.archive__subtitle {
  border-bottom: none;
  padding-bottom: 0;   // 줄 없앴으니 아래 여백도 조금 줄이기
}

body {
  background-color: #ffffff;
}

.author__avatar a,
.author__name a {
  pointer-events: none;   // 클릭 불가
  cursor: default !important;  // 링크 커서 제거
}
.author__avatar a:hover,
.author__avatar a:focus,
.author__name a:hover,
.author__name a:focus {
  text-decoration: none;
}
.author__avatar img {
  opacity: 1 !important;           // 흐리게 보이지 않게
  filter: none !important;         // 회색/블러 효과 제거
}

/* 사이드바 항상 또렷하게 보이게 */
.sidebar,
.sidebar:hover {
  opacity: 1 !important;
  filter: none !important;   // 혹시라도 그레이스케일 효과 있을 경우 대비
}

/* Recent Posts의 제목 링크, 항상 또렷하게 */
.archive__item-title a {
  color: #222222 !important;    // 진한 회색
  opacity: 1 !important;
}

.archive__item-title a:hover {
  color: #222222 !important;    // hover 때도 색 안 바꿈
}

.archive__item-title a,
.archive__item-title a:hover,
.archive__item-title a:focus,
.archive__item-title a:visited {
  text-decoration: none !important;
}

.page__footer {
  background-color: #e5e5e5;   
  color: #555555;              
//   border-top: 1px solid #e5e5e5; // 위에 얇은 회색 선
}
.page__footer,
.page__footer * {
  color: #555555 !important;
}